<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bonjour{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Ecommerce</title>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
        </head>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="navbar  navbar-fixed-top">
        <div class="navbar-inner" >
            <div class="container" >
                <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ path('book_homepage') }}"><h4>Book</h4></a>
                <div class="nav-collapse collapse">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include'::default/menu.html.twig' %}
                    {%  else %}
                        {%  include'::default/connection.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <hr />

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Book<span>logo</span></h3>
            <br>

            <p class="footer-company-name">Company Name &copy; 2017</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="icon-map-marker"></i>
                <p><span>21 Revolution Street</span> Paris, France</p>
            </div>

            <div>
                <i class="icon-phone"></i>
                <p>06 02 05 24 14</p>
            </div>

            <div>
                <i class="icon-envelope"></i>
                <p><a href="mailto:support@company.com">support@company.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-github"></i></a>

            </div>

        </div>

    </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>

    </body>
</html>

