{% extends '::default/Admin.html.twig' %}

{% block body %}
    <h1>Liste des Livres</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a href="{{ path('adminLivre_show', { 'id': livre.id }) }}">{{ livre.id }}</a></td>
                <td>{{ livre.nom }}</td>
                <td>{{ livre.description }}</td>
                <td>{{ livre.prix }}</td>
                <td>{{ livre.disponible }}</td>
                <td>
                            <a href="{{ path('adminLivre_show', { 'id': livre.id }) }}"><i class="icon-book"></i></a>
                            <a href="{{ path('adminLivre_edit', { 'id': livre.id }) }}"><i class="icon-pencil"></i></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class=" btn btn-primary" href="{{ path('adminLivre_new') }}">Creer un nouveau livre</a>

{% endblock %}
